{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ current_rubric.name }} :: {% trans "Доска объявлений" %}</title>
    </head>
    <body>
        <h1>{% trans "Объявления" %}</h1>
        <h2>{% trans "Рубрика" %}: {{ current_rubric.name }}</h2>
        <div>
            <a href="/bboard/">{% trans "Главная" %}</a>
            {% for rubric in rubrics %}
            <a href="/bboard/{{ rubric.pk }}/">{{ rubric.name }}</a>
            {% endfor %}
            <a href="{% url 'add' %}">{% trans "Добавить" %}</a>
        </div>
        {% for bb in bbs %}
        <div>
            <h2>{{ bb.title }}</h2>
            <p><strong>{% trans "Описание" %}:</strong> {{ bb.content }}</p>
            <p><strong>{% trans "Дата публикации" %}:</strong> {{ bb.published|date:"d.m.Y H:i:s" }}</p>
        </div>
        {% endfor %}
    </body>
</html>